* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-size: 62.5;
}


/* Header cabecera etc*/

#grilla-body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "productos productos productos"
    "banner banner banner"
    "footer footer footer";

    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    
}

#header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(253,132,157);
    margin-bottom: 4rem;
    
}

@media screen and (max-width: 993px) {
    #header {
        flex-direction: column;
    }
    
}

.logo {
    height: 20rem;
    width: 20rem;
}



#navegacion li {
    background-color: rgb(253,132,157);
    padding: .3rem 1rem;
    
}

#navegacion {
    display: flex;
    gap: 0.8rem;
}



@media screen and (max-width: 654px) {
    #navegacion {
        flex-direction: column;
    }
    
}

#navegacion li a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/*productos*/
#productos-entrenamientos {
    grid-area: productos;
}

#productos-entrenamientos h2,
#productos-entrenamientos p { text-align: center;}

.profe-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    justify-items: center;
}

@media screen and (max-width: 992px) {
    .profe-card {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 767px) {
    .profe-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.card-profe {
    width: 16rem;
    border: solid 2px pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}

.card-profe img {
    height: 15rem;
}
/*banner cards*/

#banner-card {
    grid-area: banner;
    background-color: rgb(253,132,157);
    margin-top: 4rem;
    padding: 2rem;
}

#banner-card h2 {
    text-align: center;
}

.padre_banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
@media screen and (max-width: 992px) {
    .padre_banner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .padre_banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
.banner-caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*footer */

#footer {
    grid-area: footer;
    margin-top: 15rem;
}
/* aca termina header cabecera etc */


/* ACA COMIENZA ACOMODAR MI INCIO */
#padre-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    margin: 0 auto;
    grid-template-areas: "informacion"
    ;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width: 1900px) {
    #padre-section {
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr;
        
    }
    

}
.padre-inicio {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
@media screen and (max-width: 1050px) {
    .padre-inicio {
        flex-direction: column;
    }
    
}

.padre-inicio2 {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1050px) {
    .padre-inicio2 {
        flex-direction: column;
    }
    
}

.hijo-inicio {
    margin-left: 2rem;
}
.hijo-inicio2 {
    margin-right: 2rem;
}

.imagen-imagen {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* aca comienzo acomodar mi inicio */



ul {
    list-style-type: none;
    font-size: 25px;
}


h2 {
    color: rgb(253,132,157);
    font-size: 30px;
    font-family: 'Roboto',
    
    
}

p {
    color: black;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 1.5rem;
}

/* aca termino de acomodar mi inicio */
    
    /* aca comienzo acomodar el formulario */

    #formulario-contacto {
        color: black;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        height: 35rem;
        
    }


.div-formulario {
    text-align: center;
    font-size: 5rem;
}

    .input-div {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
        padding: 2rem;
        background: none;
        padding: .6rem .3rem;
        border: none;
        font-size: 2rem;
        
    }
    .formulario {
        display: flex;
        justify-content: space-around;
        font-size: 2rem;
        margin-top: 1rem;
        
    }

    /* aca termino de acomodar el formulario  */

/* PLAN DE NUTRICION */

#padre-nutricion {
    display: grid;
    grid-area: productos;
    grid-template-columns: repeat(2 ,1fr);
}

.nutricion {
    width: 80%;
    padding-left: 20rem;
}

.padre-nutricion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 20rem;
    
}


.bottom {
    display: flex;
    font-size: 25px;
    
}
